.root{
    -fx-background-color: #111111;
}

.label{
    -fx-font-size: 20;
    -fx-font-family: "Lucida Console";
    -fx-text-fill: "white";
}

#adem{
    -fx-font-size: 40;
}

#ademcim{

}